*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #cee349, #d43a2f);
}
img{
  width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}